Test.py
__pycache__/Wordle_functions.cpython-39.pyc
Test2.py
Test2helper.py
.idea
.venv
__pycache__/Wordle_algo.cpython-310.pyc
__pycache__/Wordle_functions.cpython-310.pyc
Wordle_interactive.py
.gitignore
__pycache__/Wordle_functions.cpython-37.pyc
